In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
#Seaborn is a library used for making statistical graphics of the dataset. It provides a variety of visualization patterns. 
#It uses fewer syntax and has easily interesting default themes. It is used to summarize data in visualizations and show the dataâ€™s distribution.

In [ ]:
dataset=pd.read_csv("UPL.csv")
dataset.head()
#dataset.shape

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2004-01-23,UNIPHOS,EQ,10.00,100.0,560.0,100.0,555.1,553.80,483.69,73629,3.561361e+12,NaN,52799.0,0.7171
1,2004-01-27,UNIPHOS,EQ,553.80,570.0,570.0,525.0,530.1,540.35,540.77,26737,1.445851e+12,NaN,17314.0,0.6476
2,2004-01-28,UNIPHOS,EQ,540.35,530.0,565.0,511.0,542.0,538.85,542.24,32155,1.743569e+12,NaN,23285.0,0.7241
3,2004-01-29,UNIPHOS,EQ,538.85,530.0,543.5,504.0,517.0,515.10,529.23,19074,1.009447e+12,NaN,12935.0,0.6781
4,2004-01-30,UNIPHOS,EQ,515.10,519.0,519.0,471.4,485.0,482.95,485.85,23807,1.156659e+12,NaN,12750.0,0.5356

In [ ]:

type(dataset)

pandas.core.frame.DataFrame

In [ ]:
dataset.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,4287.000000,4287.000000,4287.000000,4287.000000,4287.000000,4287.000000,4287.000000,4.287000e+03,4.287000e+03,2456.000000,4.281000e+03,4281.000000
mean,403.192151,403.596279,411.002927,396.025064,403.290320,403.331386,403.690133,1.692215e+06,7.369939e+13,43472.249593,7.064405e+05,0.558502
std,242.503045,242.792103,245.662113,239.380109,242.394231,242.448589,242.475362,2.880158e+06,1.434760e+14,41826.382086,9.106659e+05,0.203112
min,10.000000,72.500000,76.000000,71.500000,73.500000,74.150000,75.020000,2.500000e+02,1.209481e+10,535.000000,1.740000e+02,0.080900
25%,167.850000,168.700000,172.450000,165.150000,168.000000,168.000000,168.870000,3.144830e+05,6.607107e+12,20212.750000,1.869020e+05,0.413800
50%,338.450000,339.000000,345.100000,331.400000,339.000000,338.500000,338.260000,1.044446e+06,2.501376e+13,32820.000000,5.086170e+05,0.550800
75%,596.825000,599.275000,608.650000,587.875000,597.600000,597.000000,598.680000,1.957141e+06,8.824685e+13,54394.500000,9.300740e+05,0.701900
max,1034.500000,1030.250000,1043.750000,1017.250000,1030.250000,1034.500000,1031.960000,8.727905e+07,3.773965e+15,869118.000000,2.409247e+07,1.000000

In [ ]:
x = dataset[['Open','Prev Close']]
y = dataset['Close']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 100)

In [ ]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [ ]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x, mlr.coef_))

Intercept:  0.14170414202766324
Coefficients:

[('Open', 0.6940459542996694), ('Prev Close', 0.3049792729030605)]

In [ ]:
y_pred_mlr= mlr.predict(x_test)#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [100.43329354 493.38568503 699.29005607 ... 755.63394658 298.43852506
 647.48325663]

In [ ]:
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff

      Actual value  Predicted value
1267        100.00       100.433294
4143        502.90       493.385685
3249        710.30       699.290056
2935        453.90       453.902099
813         334.60       342.248918
...            ...              ...
4049        356.55       339.044195
3843        641.90       643.509811
3716        764.80       755.633947
576         288.40       298.438525
150         635.75       647.483257

[1072 rows x 2 columns]

In [ ]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 99.71
Mean Absolute Error: 7.8374627202620815
Mean Square Error: 379.09882270677764
Root Mean Square Error: 19.470460259243428